@{
    ViewData["Title"] = "Select Paquete";
}
<form action=@Url.Action("GuardarPaquete")>
    @for(int i =0;i<ViewBag.ListaDestinos.Count;i++)
    {
        <select name="destino">
            <option>@ViewBag.ListaDestinos[i]</option>
        </select>
    }
    <input type="number" name="destinoElegido"><br><br>
    @for(int i =0;i<ViewBag.ListaHoteles.Count;i++)
    {
        <input type="radio" name="hoteles" value="imagen[i]"><img src="img/hoteles/@ViewBag.ListaHoteles[i]" width=6px height=auto>
    }
    @foreach(string aereo in ViewBag.ListaAereos){
        <input type="radio" name="aereos" value="imagen[aereo]"><img src="img/aerolineas/@ViewBag.ListaAereos[aereo]" width=6px height=auto>
    }
    @foreach(string excursion in ViewBag.ListaExcursiones){
        <input type="radio" name="excursion" value="imagen[excursion]"><img src="img/excursiones/@ViewBag.ListaExcursiones[excursion]" width=6px height=auto>
    }
    <input type="submit" value="Crear Paquete">
</form>